# Backend
DATABASE_URL="postgresql://impreza:impreza_secret_2025@localhost:5432/impreza?schema=public"
JWT_SECRET="impreza-jwt-secret-change-in-production-2025"
REFRESH_SECRET="impreza-refresh-secret-change-in-production-2025"
REDIS_URL="redis://localhost:6379"
BCRYPT_ROUNDS=12
PORT=3001

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3001"
